@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
.css-185gdzj-MuiCardHeader-root {
  padding: 0;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  /* padding-top: 0; */
  /* padding-bottom: 0; */
  background-color: #455a64;
}
.card--icon {
  color: white;
}
.card--icon:hover {
  /* color: blue; */
  background-color: white;
  border-radius: 25px;
  padding: 3px;
  color: #263238;
}
.MuiTextField-root {
  color: white; /* Set text color to white */
}

.MuiTextField-root .MuiInputBase-input::placeholder {
  color: white; /* Set placeholder color to white */
}

.MuiTextField-root .MuiInputLabel-root {
  color: white; /* Set label color to white */
}

.MuiTextField-root .MuiInput-underline:before {
  border-bottom-color: white; /* Set underline color to white */
}

.MuiTextField-root .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom-color: white; /* Set underline color to white on hover */
}
